{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aprendizaje 6 3 Grupal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <style>
     
    </style>
  </head>
  <body class="">
    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/perfiles">TeLoVendo.com</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><a href="/perfiles" style="color:white">Perfiles</a></li>
          <li><a href="/pasos/" style="color:white">Pasos crear un proyecto Django</a></li>
          <li><a href="/proveedores/" style="color:white">Agregar Proveedores</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid ">
      <div class="row ">
   

        <div class="col-sm-12">{% block contenido %} {% endblock %}</div>
     
    </div>

    <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Sobre Nosotros</h4>
        <p>Descripción sobre tu empresa o sitio web.</p>
      </div>
      <div class="col-md-4">
        <h4>Contacto</h4>
        <p>Email: info@example.com</p>
        <p>Teléfono: 123-456-7890</p>
      </div>
      <div class="col-md-4">
        <h4>Síguenos en redes sociales</h4>
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
  </body>
</html>
