{% extends 'base.html' %} {% block contenido %}
<div class="container mt-5">
  <div class="row">
     <div class="col-sm-12">
      <h1>Pasos para la creacion de </h1>
     </div>
    <div class="col-sm-3">
      <h3>paso 1: </h3>
      <h2>Crear el archivo de la plantilla html</h2>
      <p>En la carpeta de tu proyecto Django, crea una nueva carpeta llamada "templates" si aún no existe.</p>
      <p>Dentro de la carpeta "templates", crea un archivo HTML para tu plantilla. Por ejemplo, podrías llamarlo "mi_template.html".</p>
    </div>
    <div class="col-sm-3">
      <h3>Paso 2:</h3>
      <h2> Configurar la ruta URL</h2>
      <p>Abre el archivo "urls.py" de tu aplicación Django (generalmente ubicado en la carpeta del proyecto o en la carpeta de la aplicación).</p>
      <p>Importa la función "TemplateView" de Django: from django.views.generic import TemplateView.</p>
    </div>
    <div class="col-sm-3">
      <h3>Paso 3: </h3>     
      <h2>Renderizar la plantilla</h2>   
      <p>Abre el archivo de vista asociado a la URL que configuraste en el paso anterior.</p>
      <p>Importa la función render de Django: from django.shortcuts import render.</p>
      <p>Define una función de vista que maneje la solicitud de esa URL</p>
    </div>
    <div class="col-sm-3">
        <h3>Paso 4 :</h3>    
        <h2>Mostrar la plantilla en el navegador</h2>    
        <p>Ejecuta tu servidor Django localmente (por ejemplo, mediante el comando python manage.py runserver).</p>
        <p>Abre tu navegador web y ve a la URL correspondiente a tu plantilla (por ejemplo, http://localhost:8000/mi_ruta/).</p>
      </div>
  </div>
</div>

{% endblock %}