{% extends 'base.html' %} {% block contenido %}
<div class="row justify-content-center">
  <div class="col-sm-8">
<div class="card bg-white border-0 shadow-sm">
<div class="card-header"><h2> <i class="fa-solid fa-users"></i> Usuario del sistema</h2></div>
<div class="card-body">

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Ciudad</th>
 
    </tr>
  </thead>

  <tbody>
    {% for perfil in perfiles%}
    <tr>
      <td> 
 
          {{perfil.user.first_name}}

      </td>
      <td>{{perfil.user.last_name}}</td>
      <td>{{perfil.telefono}}</td>
      <td>{{perfil.ciudad}}</td>
  
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />
</div>
</div>

  </div>
</div>
{% endblock %}
