{% extends 'base.html' %} {% block contenido %}
<h2>Usuario del sistema</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Ciudad</th>
      <th>Direccion</th>
      <th>Edad</th>
    </tr>
  </thead>

  <tbody>
    {% for perfil in perfiles%}
    <tr>
      <td>
        <a href="/perfil_usuario/{{perfil.user.id}}">
          {{perfil.user.first_name}}</a
        >
      </td>
      <td>{{perfil.user.last_name}}</td>
      <td>{{perfil.telefono}}</td>
      <td>{{perfil.ciudad}}</td>
      <td>{{perfil.direccion}}</td>
      <td>{{perfil.edad}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />

{% endblock %}
