{% extends 'base.html' %} {% block contenido %}
<div class="card bg-white border-0 shadow-sm">
<div class="card-header"><h2> <i class="fa-solid fa-users"></i> Usuario del sistema</h2></div>
<div class="card-body">

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Ciudad</th>
      <th>Direccion</th>
      <th>Edad</th>
    </tr>
  </thead>

  <tbody>
    {% for perfil in perfiles%}
    <tr>
      <td> <button class="btn" id="boton"><strong>
        <a href="/perfil_usuario/{{perfil.user.id}}">
          {{perfil.user.first_name}}</strong></a
        ></button>
      </td>
      <td>{{perfil.user.last_name}}</td>
      <td>{{perfil.telefono}}</td>
      <td>{{perfil.ciudad}}</td>
      <td>{{perfil.direccion}}</td>
      <td>{{perfil.edad}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />
</div>
</div>
{% endblock %}
