
 {% extends 'base.html' %}
    
   {% block contenido %} 
   <div class="card bg-white">
<div class="card-header">
  <h2> <i class="fa-solid fa-user"></i> &nbsp Nombre de usuario: {{perfil.user.username}}</h2>
</div>
<div class="card-body">
<table class="table">
<tbody>

<tr> <td> Nombre</td> <td> {{perfil.user.first_name}}</td></tr>
<tr> <td> Apellido</td> <td> {{perfil.user.last_name}}</td></tr>
<tr> <td> Telefono</td> <td> {{perfil.telefono}}</td></tr>
<tr> <td> Ciudad</td> <td> {{perfil.ciudad}}</td></tr>
<tr> <td> Direccion</td> <td> {{perfil.direccion}}</td></tr>
<tr> <td> Edad</td> <td> {{perfil.edad}}</td></tr>
</tbody>

</table>
</div></div>

    {% endblock %}